<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}" />
    <link href='https://unpkg.com/fundamental-styles@latest/dist/fundamental-styles.css' rel='stylesheet'>
    <link href='https://unpkg.com/@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/css_variables.css'
        rel='stylesheet'>
    <link href='https://unpkg.com/fundamental-styles@latest/dist/theming/sap_fiori_3.css' rel='stylesheet'>
</head>

<body>

    <div style="height:300px">
        <div class="fd-shellbar fd-shellbar--xl">
            <div class="fd-shellbar__group fd-shellbar__group--product">
                <span class="fd-shellbar__title">Corporate Portal</span>
            </div>
            <div class="fd-shellbar__group fd-shellbar__group--actions">
                <div class="fd-shellbar__action fd-shellbar__action--desktop">
                    <button class="fd-button fd-button--transparent fd-shellbar__button" aria-label="Pool">
                        <i class="sap-icon--pool"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>